.root {
  --mainColor-text: #caf0f8;
}

body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  align-items: center;
  background: linear-gradient(#00c732, #fefae0);
  height: 100vh;
}

.holder {
  color: #ddd;
  margin-left: 30px;
}
.feel {
}
.entry {
  background: rgba(59, 74, 107, 0.4);
}

#entryHolder {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 5px;
}

#date {
}

#temp {
}

#content {
}

.headline {
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
  border-radius: 5px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #22b2da;
  color: var(--mainColor-text);
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 400px;
  height: 100px;
  background: #3b4a6b;
  color: var(--mainColor-text);
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  margin-top: 10px;
  outline: none;
  border-radius: 5px;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #22b2da;
  color: var(--mainColor-text);
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  outline: none;
  border: none;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: var(--mainColor-text);
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--mainColor-text);
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--mainColor-text);
  font-family: "Oswald", sans-serif;
}
.entry {
  margin-left: 0px;
}
